/*SIDE BAR*/
.side-bar {
    width: 15%;
    height: 62.5rem;
}

.playlist {
    list-style: none;
    padding: 0;
}

.user-conteiner {
    height: 45.625rem;
}

/*CONTEINER DI HEADER E MAIN*/

.micro-body {
    width: 100%;
}

/*HEADER*/

.upper-bar {
    width: 85%;
    height: 5.625rem;
    position: fixed;
}

button {
    height: 40px;
    width: 15.625rem;
    background-color: transparent;
    border-color: white;
    border-radius: 25px;
}

/*MAIN*/


main {
    width: 100%;
    height: 62.5rem;
    padding-top: 5.625rem;
}

.main-link{
    width: 100%;
    height: 1.875rem;
}

.main-link a {
    width: calc(100% / 4);
}

.songs {
    width: calc(100% / 2);
    height: 31.25rem;
}
/*FOOTER*/

footer {
    width: 100%;
    height: 5.625rem;
}

.prova {
    height: 100px;
    width: 150px;
}
