/*

.playlist {
    list-style: none;
    padding: 0;
}

.user-conteiner {
    height: 45.625rem;
}
*/

.general-conteiner {
    height: 100%;
}

/*MAIN*/

main {
    height: calc(100vh - 5.625rem);
}

.side-bar {
    width: 3.125rem;
}

.icon-size {
    width: 50%;
}

.logo-small {
    margin-top: .3125rem;
}

.user-box {
    height: ;
}

.user-avatar {
    width: 60%;
    background-color: grey;
    border-radius: 50%;
}

.general-conteiner {
    width: calc(100% - 3.125rem );
}

.upper-bar {
    width: calc(100% - 3.125rem );
    position: fixed;
    height: 5.625rem;
}

button {
    height: 40px;
    width: 15.625rem;
    background-color: transparent;
    border-color: white;
    border-radius: 25px;
    align-self: center;
}

.content-box {
    padding-top: 6.25rem;
    text-align: center;
    overflow-y: auto;
}

.song-section  {
    padding: 1rem 1rem ;
}

.played {
    margin-top: 0;
    margin-bottom: 1rem;
}

.song-conteiner {

}

.song-box {
    width: 50%;
}

.song-box img {
    width: 100%;
}

/*FOOTER*/

footer {
    width: 100%;
    height: 5.625rem;
}

.prova {
    height: 50px;
    width: 150px;
    margin: 0;
    padding: 0;
}
