
/*MAIN*/

main {
    height: calc(100vh - 5.625rem);
}

.side-bar {
    width: 3.125rem;
    height: 100%;
}

.icon-size {
    width: 50%;
    padding-bottom: 0.5rem;
}

.playlist {
    width: 100%;
    height: 50%;
    line-height: 2.1875rem;
    overflow-y: auto;
    display: none;
}

.bottone-playlist {
    font-size: 2rem;
    font-weight: bold;
    width: 2.5rem;
}

.logo-small {
    margin-top: .3125rem;
}

.logo-big {
    display: none;
}

.user-avatar {
    width: 50%;
    background-color: grey;
    border-radius: 50%;
}

.user-arrow  {
    width: 30%;
}

.installa-app {
    display: none;
}

.general-conteiner {
    width: calc(100% - 3.125rem );
}

.upper-bar {
    width: calc(100% - 3.125rem );
    position: fixed;
    height: 5.625rem;
}

button {
    height: 40px;
    width: 12.5rem;
    background-color: transparent;
    border-color: white;
    border-radius: 25px;
    align-self: center;
    margin-right: .9375rem;
}

.content-box {
    padding-top: 6.25rem;
    text-align: center;
    overflow-y: auto;
}

.song-section  {
    padding: 1rem 1rem ;
}

.played {
    margin-top: 0;
    margin-bottom: 1rem;
}

.song-box {
    width: 50%;
    padding-left: .3125rem;
    padding-right: .3125rem;
    padding-bottom: .625rem;
}

.song-box img {
    width: 100%;
}

.song-box h3{
    color: white;
}

.song-box small {
    color: grey;
}

.personal-for-user {
    width: 50%;
    padding-left: .3125rem;
    padding-right: .3125rem;
    padding-bottom: .3125rem;
}

.personal-for-user img {
    width: 100%;
}

.down-section-text{
    text-align: start;
}

.down-section-text h1 {
    font-size: 20px;
}

.artisti-popolari {
    width: 50%;
    padding-left: .3125rem;
    padding-right: .3125rem;
    padding-bottom: .3125rem;
}

.artisti-popolari img {
    width: 100%;
    border-radius: 50%;
}

/*FOOTER*/

footer {
    width: 100%;
    height: 5.625rem;
}

.album-box {
    width: 80%;
}

.album-song {
    width: 80%;
    display: block;
}

.album-info {
    width: 50%;
}

.album-icon {
    width: 50%;
}

.album-icon i {
    margin-left: .3125rem;
    align-self: center;
    margin-top: 10px;
}

.end-conteiner {
    margin: 0;
    padding: 0;
}

.left-conteiner {
    width: 25%;
    height:100%;
    padding-left: 10px;
}

.center-conteiner {
    width: 50%;
    height: 100%;
}

.center-conteiner span {
    font-size: 10px;
}

.play-conteiner i {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-time {
    height: 50%;
}

.conteiner-right {
    width: 25%;
    height: 100%;
    padding: 10px;
}

/*RESPONSIVE MOBILE*/
@media screen and (min-width: 480px) {
    .side-bar {
        width: 40%;
    }

    button {
        height: 40px;
        width: 12.5rem;
        background-color: transparent;
        border-color: white;
        border-radius: 25px;
        align-self: center;
        margin: 0 auto;
    }
    .icon-size {
        width: 15%;
        padding-bottom: 0.5rem;
        margin: 0;
        margin-left: 1rem;
    }

    .logo-small {
        display: none;
    }

    .logo-big {
        display: block;
        width: 60%;
        margin-top: 1rem;
    }

    .playlist {
        display: block;
        font-size: 10px;
        margin-left: 1rem;
    }
    
    .bottone-playlist {
        font-size: 1rem;
    }

    .side-bar :first-child {
        justify-content: left;
    }

    .playlist a {
        display: block;
    }

    .user-avatar {
        width: 15%;
        margin: 0;
        margin-left: 1rem;
    }

    .user-arrow {
        width: 15%;
        margin: 0;
        margin-left: 1rem;
    }

    .installa-app {
        display: block;
    }

    .hr {
        margin: 1rem;
    }

}




/*RESPONSIVE TABLET*/
@media screen and (min-width: 768px) {
    .side-bar {
        width: 40%;
    }

    button {
        height: 40px;
        width: 12.5rem;
        background-color: transparent;
        border-color: white;
        border-radius: 25px;
        align-self: center;
        margin: 0 auto;
    }
    .icon-size {
        width: 9%;
        padding-bottom: 0.5rem;
        margin: 0;
        margin-left: 1rem;
    }

    .logo-small {
        display: none;
    }

    .logo-big {
        display: block;
        width: 60%;
        margin-top: 1rem;
    }

    .playlist {
        display: block;
        font-size: 10px;
        margin-left: 1rem;
    }
    
    .bottone-playlist {
        font-size: 1rem;
    }

    .side-bar :first-child {
        justify-content: left;
    }

    .playlist a {
        display: block;
    }

    .user-avatar {
        width: 9%;
        margin: 0;
        margin-left: 1rem;
    }

    .user-arrow {
        width: 15%;
        margin: 0;
        margin-left: 1rem;
    }

    .installa-app {
        display: block;
    }

    .hr {
        margin: 1rem;
    }

    .song-box {
        width: 25%;
        padding-left: .3125rem;
        padding-right: .3125rem;
        padding-bottom: .625rem;
        margin: 0;
    }
    .personal-for-user {
        width: 25%;
        padding-left: .3125rem;
        padding-right: .3125rem;
        padding-bottom: .3125rem;
        margin: 0;
    }
    .artisti-popolari {
        width: 25%;
        padding-left: .3125rem;
        padding-right: .3125rem;
        padding-bottom: .3125rem;
        margin: 0;
    }

}

/*RESPONSIVE DESKTOP*/
@media screen and (min-width: 992px) {
    .side-bar {
        width: 40%;
    }

    button {
        height: 40px;
        width: 12.5rem;
        background-color: transparent;
        border-color: white;
        border-radius: 25px;
        align-self: center;
        margin: 0 auto;
    }
    .icon-size {
        width: 9%;
        padding-bottom: 0.5rem;
        margin: 0;
        margin-left: 1rem;
    }

    .logo-small {
        display: none;
    }

    .logo-big {
        display: block;
        width: 60%;
        margin-top: 1rem;
    }

    .playlist {
        display: block;
        font-size: 10px;
        margin-left: 1rem;
    }
    
    .bottone-playlist {
        font-size: 1rem;
    }

    .side-bar :first-child {
        justify-content: left;
    }

    .playlist a {
        display: block;
    }

    .user-avatar {
        width: 9%;
        margin: 0;
        margin-left: 1rem;
    }

    .user-arrow {
        width: 15%;
        margin: 0;
        margin-left: 1rem;
    }

    .installa-app {
        display: block;
    }

    .hr {
        margin: 1rem;
    }

    .song-box {
        width: calc(100% / 6);
        padding-left: .3125rem;
        padding-right: .3125rem;
        padding-bottom: .625rem;
        margin: 0;
    }
    .personal-for-user {
        width: calc(100% / 6);
        padding-left: .3125rem;
        padding-right: .3125rem;
        padding-bottom: .3125rem;
        margin: 0;
    }
    .artisti-popolari {
        width: calc(100% / 6);
        padding-left: .3125rem;
        padding-right: .3125rem;
        padding-bottom: .3125rem;
        margin: 0;
    }


}
